@import url(style.css);
/* Responsividade para celulares pequenos (até 360px) */
@media (max-width: 360px) {
    .html,body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: proximity;
    }

    .header {
        width: 100%;
        padding: 5% 34%;
    }

    .logo img {
        position: absolute;
        top: 30px;
        left: 10px;
        width: 45%;
    }

    .inicio {
        width: 100%;
        height: 100%;
        padding: 0rem 0rem;
        z-index: 1;
        user-select: none;
    }

    .container-inicio {
        width: 100%;
        height: 100%;
        color: var(--color-white);
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .destaque-inicio {
        font-family: var(--font-grande);
        font-weight: lighter;
        text-align: center;
        font-size: 2.8rem;
        letter-spacing: 0.05rem;
        text-shadow: 1px 1px 10px #858585;
        padding: 15% 15% 0%;
        margin: 18% auto 0 auto;
    }

    .paragrafo-inicio p {
        font-size: 1.2rem;
        color: var(--color-gray2);
        text-align: justify;
        margin: 0 auto;
        max-width: 80%;
    }

    .botao-agendeseuhorario {
        position: relative;
        margin: 0 auto 15% auto;
        padding: 6px 9px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
        border-radius: 20px;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-gray1);
    }

    .botao-agendeseuhorario a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .botao-agendeseuhorario span {
        position: relative;
        font-family: var(--font-pequena);
        font-size: 18px;
        font-weight: 700;
        color: var(--color-gray1);
        border-radius: 20px;
        left: 0.4rem;
        bottom: 0.1rem;
    }

    .botao-agendeseuhorario:before {
        content: "";
        position: absolute;
        top: 0;
        left: 20px;
        right: 0;
        bottom: 0;
        display: flex;
        border-radius: 50px;
        background: var(--color-destaque);
        width: 80%;
        height: 80%;
        transition: all 0.3s ease;
    }

    .botao-agendeseuhorario:hover:before {
        width: 80%;
        background: var(--color-destaque);
    }

    .botao-agendeseuhorario:active {
        transform: scale(0.95);
    }

    .botao-agendeseuhorario svg {
        position: relative;
        top: 1px;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--color-destaque);
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    .botao-agendeseuhorario:hover svg {
        transform: translateX(0);
        stroke: var(--color-gray1);
    }

    /*FIM DA PRIMEIRA PARTE DA PÁGINA*/
    .sobre {
        background-color: var(--color-destaque);
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 1rem;
        z-index: 1;
        overflow: visible;
        margin-bottom: 15px;
    }

    .container-sobre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline-sobre {
        height: 20%;
        width: 100vw;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .headline-scroll {
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation: scroll 20s linear infinite;
        width: 2000px;
        margin-top: 0;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .headline-scroll span {
        font-family: var(--font-grande);
        font-size: 4rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }

    .headline-scroll .divisor {
        width: 15px;
        height: 15px;
        background-color: var(--color-gray1);
        border-radius: 50%;
        margin: 0 20px;
    }

    .conteudo-sobre {
        position: relative;
        top: 30%;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .left-sobre {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }

    .titulo-sobre h1 {
        font-size: 2rem;
        font-family: var(--font-grande);
        margin-top: 0%;
        position: absolute;
        top: -14%;
        left: 0%;
    }

    .textos-sobre-p {
        font-size: 1rem;
        color: var(--color-gray1);
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 1.5px;
        position: absolute;
        top: 50%;
    }

    .redes-sociais {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 50%;
    }

    .redes-sociais a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: var(--color-gray1);
        font-size: 1rem;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--color-gray1);
        margin-bottom: 15%;
    }

    .right-sobre {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imagem-sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
    }

    .imagem-sobre img {
        margin-bottom: 160%;
        width: 150%;
        z-index: 99;
        position: relative;
        left: 15%;
    }

    .complemento-sobre {
        width: auto;
        z-index: 0;
    }

    .complemento-sobre img {
        position: absolute;
        left: 8%;
        top: 12%;
        width: 50%;
        z-index: 1000;
        animation: rotate 20s linear infinite;
    }

    .complemento-sobre-navalha {
        position: relative;
        left: 10%;
        top: 100%;
        width: 60%;
        z-index: -1000;
        animation: rotate 20s linear infinite;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }


}



/* Responsividade para celulares médios (até 768px) */
@media (max-width: 768px) {}

/* Responsividade para tablets e pequenas telas de notebooks (até 1024px) */
@media (max-width: 1024px) {
    body {
        transform: scale(0.75); /* Escala para 75% */
        transform-origin: top left; /* Mantém a origem do scale no topo esquerdo */
    }

}

/* Responsividade para notebooks e desktops grandes (a partir de 1024px) */
@media (min-width: 1024px) {}